<p id="notice"><%= notice %></p>


<h1>Pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Species</th>
      <th>Bio</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= button_to "logout", destroy_user_session_path, method: :delete  %>
    <% @pets.each do |pet| %>

        <%= pet.name %>
        <%= pet.age %>
        <%= pet.species %>
        <%= pet.bio %>
        <%=image_tag pet.image %>
        <%= link_to 'Show', pet %>
        <% if (current_user.present? && (current_user.id == pet.user_id)) %>
        <%= link_to 'Edit', edit_pet_path(pet) %>
        <%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        


    <% end %>



<br>

<%= link_to 'New Pet', new_pet_path %>
